<div class="task-container" *ngIf="tasks.length; else noTasks">

  <div *ngFor="let task of tasks"
       class="task-card"
       (mouseenter)="hoveredTask = task.id ?? null"
       (mouseleave)="hoveredTask = null">

    <div class="task-header">
      <h3 [class.done]="task.done">{{ task.title }}</h3>
      <small *ngIf="task.due_date">📅 {{ task.due_date }}</small>
    </div>

    <p>{{ task.description }}</p>

    <div class="task-actions" [class.show]="hoveredTask === task.id">

      <button *ngIf="!task.done"
              class="done-btn"
              (click)="toggleDone(task)">
        Done
      </button>

      <button *ngIf="!task.done"
              class="edit-btn"
              (click)="edit(task)">
        Edit
      </button>

      <button class="delete-btn" (click)="delete(task)">
        Delete
      </button>

    </div>
  </div>
</div>

<ng-template #noTasks>
  <div class="no-tasks">
    <p>No pending tasks for now</p>
    <p>Click on the + icon to add tasks</p>
  </div>
</ng-template>

<div class="undo-popup" *ngIf="showUndoPopup">
  <span>Task deleted</span>
  <button (click)="undoDelete()">Undo</button>
</div>
